<footer align="center" >
    <table width="100%"  align="center" [dir]="pageDirection">
        <tr>
            <td>
                <table width="100%">
                    <th>  KONTAKT OS</th>
                    <tr>
                        <td align="center">
                        Sabro 8471 løvkærvej 5<br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                           PHONE: 004525312022
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                           EMIAL:angelsway@gmail.com
                        </td>
                    </tr>

                </table>
                
            </td>
        </tr>
      
   
    </table>
    <table width="100%"  align="center" [dir]="pageDirection">
        <tr>
            <td>
                <table width="100%">
                    <th>Opening Hours</th>
                    <tr>
                        <td align="center">Manday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <td align="center">Tuesday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <td align="center">Wednesday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <td align="center">Thursday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <td align="center">Friday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <td align="center">Saturday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <td align="center">Sunday: 8.00-18.00</td>

                    </tr>
                    <tr>
                        <p class="copyright">Angels Way © 2023</p>
            
                    </tr>
                </table>
                
            </td>
            <!--
            <td>
                <a href="#">{{services}}</a>

            </td>
            <td>
                <a href="#">{{about}}</a>
            </td>
            <td>
                
                <a href="#">{{terms}}</a>
            </td>
            <td>
                <a href="#">{{privacyPolicy}}</a>

            </td>
            -->

        </tr>


        
   
    </table>
</footer>