/* Add a black background color to the top navigation */
.topnav {
  background-color: #55BE6D;
  overflow: hidden;
  }
  .mainTable{
    margin-left: auto;
    margin-right: auto;  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    /* Style the links outside the navigation bar */
    a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
        /* Change the color of links on hover */
   a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .example-spacer {
    flex: 2 1  auto;
  }  
  h1{
    color: rgba(39, 31, 156, 0.973);
  }
 
  p{
  font-size: 20px;
  text-align: center;
}

.basket{
  background-color: #55BE6D;
  color: white;
  height: 40px;
  width: 40px;
}
  .ButtonForphone{
    background-color: rgb(16, 133, 235);
    color: white;
    height: 40px;
    width:370px;
    position: fixed;
    z-index: 3000;
  }