<table class="mainTable" [dir]="pageDirection" align="center">

    <tr>
        <td>
            <table [dir]="pageDirection">
                <tr>
                    <td >


                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr width="100%">
        <td>
            
        <img src="https://shamfoodstore.s3.eu-central-1.amazonaws.com/moving2.jpeg"
        width="350" height="350">
        </td>
        <td>
            
            <img src="https://shamfoodstore.s3.eu-central-1.amazonaws.com/moving1.jpeg"
            width="350" height="350">
        </td>
    </tr>
    <tr width="100%" >
        <td align="center" colspan="2"> 
            <h1>PrivatFlytting</h1>
           <h2>Beskrivelse af service</h2> 
                <pre>
                    Vores tjenester opererer i hele Danmark.
                     Skriv os en besked med oplysninger om flytningen,
                      så vi kan gøre en godt tilbud. Du har også muligheden for at sende os billeder,
                       som er den bedste måde at få en fast pris.

                </pre>
        </td>
    </tr>

    <tr width="100%" >
        <td colspan="2" align="center">
            
            <img src="https://shamfoodstore.s3.eu-central-1.amazonaws.com/moving3.jpeg"
            width="350" height="350">
        </td>
    </tr>

    <tr width="100%" >
        <td align="center" colspan="2"> 
            <h1>FirmaFlytting</h1>
            <h2>Beskrivelse af service</h2> 
            <pre>
                Vores tjenester opererer i hele Danmark.
                 Skriv os en besked med oplysninger om flytningen,
                  så vi kan gøre en godt tilbud. Du har også muligheden for at sende os billeder,
                   som er den bedste måde at få en fast pris.

            </pre>
        </td>
    </tr>
</table>
